In [33]:
import pandas as pd
excel_filename = "SkySearch Images.xlsx"
prediction_column = "ChatGPT 4o prediction"
df = pd.read_excel(excel_filename)
df.dropna(inplace=True)
df.head()

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Image File name,Item in image,True item Location,Image number,ChatGPT 4o prediction,ChatGPT 4o prediction2,ChatGPT 4o prediction3
0,0,0,0,0,0,IMAGE_000.jpg,Blue recycling bin,"center, center, far",0,center bottom far,center bottom far,center bottom far
1,1,1,1,1,1,IMAGE_001.jpg,Black cup,"left, bottom, medium",1,left bottom near,left bottom near,left bottom near
2,2,2,2,2,2,IMAGE_002.jpg,Crock sandal,"center, center, medium",2,center bottom medium,left center medium,center bottom near
3,3,3,3,3,3,IMAGE_003.jpg,Amazon box,"center, center, close",3,center center near,center center near,center top near
4,4,4,4,4,4,IMAGE_004.jpg,Basketball,"center, center, medium",4,right bottom medium,right bottom near,center bottom near

In [34]:
import string

# Remove punctuation from the 'True item Location' column
df['True item  Location'] = df['True item  Location'].str.replace(f"[{string.punctuation}]", "", regex=True)
df.head()

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Image File name,Item in image,True item Location,Image number,ChatGPT 4o prediction,ChatGPT 4o prediction2,ChatGPT 4o prediction3
0,0,0,0,0,0,IMAGE_000.jpg,Blue recycling bin,center center far,0,center bottom far,center bottom far,center bottom far
1,1,1,1,1,1,IMAGE_001.jpg,Black cup,left bottom medium,1,left bottom near,left bottom near,left bottom near
2,2,2,2,2,2,IMAGE_002.jpg,Crock sandal,center center medium,2,center bottom medium,left center medium,center bottom near
3,3,3,3,3,3,IMAGE_003.jpg,Amazon box,center center close,3,center center near,center center near,center top near
4,4,4,4,4,4,IMAGE_004.jpg,Basketball,center center medium,4,right bottom medium,right bottom near,center bottom near

In [35]:
df["LR_True"] = df["True item  Location"].apply(lambda x: x.split()[0])
df["UD_True"] = df["True item  Location"].apply(lambda x: x.split()[1])
df["FN_True"] = df["True item  Location"].apply(lambda x: x.split()[2])
def recast_close_to_near(x):
    if x == 'close':
        return 'near'
    else:
        return x

df["FN_True"] = df["FN_True"].apply(lambda x: recast_close_to_near(x))

df["LR_Pred"] = df[prediction_column].apply(lambda x: x.split()[0])
df["UD_Pred"] = df[prediction_column].apply(lambda x: x.split()[1])
df["FN_Pred"] = df[prediction_column].apply(lambda x: x.split()[2])

accuracy_LR = (df["LR_True"] == df["LR_Pred"]).mean()
accuracy_UD = (df["UD_True"] == df["UD_Pred"]).mean()
accuracy_FN = (df["FN_True"] == df["FN_Pred"]).mean()

print(f"Accuracy for LR: {accuracy_LR}")
print(f"Accuracy for UD: {accuracy_UD}")
print(f"Accuracy for FN: {accuracy_FN}")

Accuracy for LR: 0.8333333333333334
Accuracy for UD: 0.5238095238095238
Accuracy for FN: 0.30952380952380953